.listing-page .checkbox-container {
    width: 800px;
    height: auto;
    margin : 50px 300px;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

.listing-page .left {
    flex: 1;
    padding:30px;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 0;
}

.listing-page .left-line {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-right: 10px;
    margin-top: 0;
    flex: 1;
}

.listing-page .right {
    flex: 5;
    padding:30px;
    padding-bottom: 10px;
    background-color: #E3E4FF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.listing-page .line {
    display: flex;
    align-items: center;
}

