.listing-page .checkbox-container {
    width: 800px;
    height: auto;
    margin : 50px 300px;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

.listing-page .left {
    flex: 1;
    padding:30px;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 0;
}

.listing-page .left-line {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-right: 10px;
    margin-top: 0;
    flex: 1;
}

.listing-page .right {
    flex: 5;
    padding:30px;
    padding-bottom: 10px;
    background-color: #E3E4FF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.listing-page .line {
    display: flex;
    align-items: center;
}
  
.listing-page .overlap-group {
    display: flex;
    flex-direction: column;
}
  
.listing-page .rectangle {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 8px 34px #0000000f;
    height: 140px;
    position: relative;
    width: 870px;
    left: 285px;
    margin-bottom: 20px;
    display: flex;
}

.listing-page .card-info {
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
  
.listing-page .text-wrapper {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 22px;
    text-shadow: 0px 5px 13px #ffffff66;
    margin-top: 10px;
}
  
.listing-page .features {
    display: inline-flex;
    color: #676767;
    font-size: 15px;
    margin-top: 5px;
}
  
.listing-page .img {
    height: 15.5px;
    width: 12px;
    flex: 1;
}
  
.listing-page .card-company {
    align-items: center;
    display: inline-flex;
    margin-top: 20px;
}
  
.listing-page .frame {
    align-items: center;
    background-color: #e3e4ff;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 6px 20px;
    position: relative;
    width: 130px;
}
  
.listing-page .text-wrapper-2 {
    color: #676767;
    font-family: "Mulish-ExtraBold", Helvetica;
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
}
  
.listing-page .hashtags {
    align-items: center;
    display: inline-flex;
    gap: 15px;
    margin-bottom: 20px;
}
  
.listing-page .text-wrapper-3 {
    color: #676767;
    font-size: 12px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    top: 0;
}
  
.listing-page .div-wrapper {
    height: 15px;
    margin-right: -2px;
    position: relative;
    width: 63px;
}
  
.listing-page .load-more {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d9d9d9;
    color: #d9d9d9;
    font-size: 16px;
    font-weight: 700;
    border-radius: 43px;
    height: 50px;
    width: 870px;
    margin-left: 285px;
    text-align: center;
    line-height: 50px;
}

.listing-page .load-more:hover {
    border-color: #1D24CA;
    color: #1D24CA;
}
  
