.detail-page {
    justify-content: center;
    align-items: center;
}

.detail-page .detail-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}

.detail-container .left {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.detail-container .left img {
    object-fit: contain;
    height: 250px;
    margin-right: 17%;
}

.detail-container .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-page hr {
    background-color: #d9d9d9;
    height: 1.5px;
    border:none;
    width: 55%;
}

.detail-page hr.line1 {
    background-color: #E3E4FF;
}

.detail-page ul {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
}

.detail-page h2 {
    width: 100%;
    margin-bottom: 38px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.detail-page li {
    margin-bottom: 20px;
    font-size: 15px;
}

.detail-page .notes, .detail-page .additionalInfo {
    font-size: 15px;
}

.detail-page .redirection {
    margin: 30px auto;
    display: block;
    width: 130px;
    height: 25px;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    background-color: #1D24CA;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-page .redirection:hover {
    border-radius: 15px;
    border: 1.5px solid #1D24CA;
    background-color: white;
    color: #1D24CA;
}

.detail-page .additionalInfo {
    margin: 0;
    background-color: #F0F0FF;
    overflow-y: auto;
}

.detail-page .info {
    font-size: 12px;
}

.detail-page .info-container {
    padding: 10px;
    margin: 2% 15% auto 15%;
    background-color: #F9FAFD;
}

body {
    margin: 0;
}

.detail-page .annualFeeTableContainer {
    display: flex;
    justify-content: center;
}

.detail-page h4, .detail-page .notes {
    margin-left: 25%;
}

.detail-page .annualFeeTable {
    border-collapse: collapse;
}

.annualFeeTable th {
    font-weight: normal;
    border-bottom: 1px solid #d9d9d9;
    padding: 8px 0;
    position: relative;
}

.annualFeeTable th::after {
    content: '';
    position: absolute;
    left: 65%;
    bottom: -1px; 
    transform: translateX(-50%);
    width: 200%; 
    height: 1px; 
    background-color: #d9d9d9; 
}

.annualFeeTable td {
    padding: 8px;
    text-align: center;
}

.detail-page h5 {
    margin-left: 20px;
    font-size: 15px;
    color: #232629;
}

.additionalInfo ol {
    list-style-type: none;
    padding-left: 1.5em;
}
  
.additionalInfo ol li::before {
    content: "•"; 
    display: inline-block;
    width: 1em; 
}

.additionalInfo ul {
    padding-left: 0;
}