@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOFIHDrLEEJWTTF-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/KOFIHDrLEEJWTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NEXEN_TIRE_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/NEXEN_TIRE_Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.whole-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
}

.whole-container .left {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.whole-container .right {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.whole-container .recommended {
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #F0F3FF;
    transition: height 0.3s ease;
}

.whole-container .card {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whole-container .features {
    flex: 6;
    margin-left: 5%;
}

.whole-container .card img {
    height: 300px;
    margin-top: 25px;
    width: auto;
}

.whole-container h2 {
    display: flex;
    font-family: 'GongGothicMedium';
    padding-top: 15px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.whole-container .h2-num {
    white-space: nowrap;
    color: #1D24CA;
    display: inline-block;
}

.whole-container .h2-title {
    margin-right: 30px;
    white-space: nowrap;
    margin-left: 10px;
    display: inline-block;
}

.whole-container p {
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
}

.whole-container .buttons {
    display: flex;
    flex-direction: row;
}

.whole-container .more-info, .whole-container .redirection {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: white;
    color: #1D24CA;
    font-weight: 600;
    height: 30px;
    margin-right: 20px;
    padding-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.whole-container .more-info:hover, .whole-container .redirection:hover {
    background-color: #1D24CA;
    color: white;
}

.whole-container .more-info {
    width: 120px;
    margin-top: 30px;
}

.whole-container .redirection {
    width: 130px;
    margin-top: 30px;
}

.whole-container .more-info-icon {
    font-size : 18px;
    margin-top: -1px;
    margin-left: 4px;
}

.whole-container .redirection-icon {
    font-size: 16px;
    margin-top: -2px;
    margin-left: 5px;
}

.whole-container .go {
    margin-top: -2px;
    margin-left: 8px;
}

.whole-container .arrow {
    color: gray;
    border: none;
    background-color: transparent;
    font-size: 40px;
}

.whole-container .arrow:hover {
    color: #1D24CA;
}
