form {
    align-self: center;
}

input {
    background-color: #E3E4FF;
    appearance: none;
    width: 17%;
    height: 30px;
    border-radius: 2rem;
    border:none;
    padding: 1rem 1rem .5rem;
    margin: 10px 0 10px 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

select {
    background-color: #E3E4FF;
    appearance: none;
    width: 27.39%;
    height: auto;
    border-radius: 2rem;
    border:none;
    padding: 1rem;
    margin: 10px 0 10px 30px;
    cursor: pointer;
    color: gray;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input::placeholder {
    color: gray;
    font-size: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 1.5rem 0;
    background-color: #F9FAFD;
}

.userInfo {
    flex : 3;
    border-left: 1px solid #E3E4FF;
}

.comments {
    flex : 1;
}

.comments h2 {
    text-align: center;
}

h3 {
    padding-left: 40px;
}

.minus, .plus {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
}

.minus {
    margin-top: 82px;
}

.minus:hover, .plus:hover {
    background-color: #949CA4;
    color: white;
}

.plus {
    margin: 30px;
}

.submit {
    margin-top: 30px;
    margin-left: 30px;
    width: 180px;
    height: 30px;
    border: none;
    outline: none;
    background: #1D24CA;
    color: #fff;
    font-size: 15px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.submit:hover {
    background: #fff;
    color: #1D24CA;
    border: 1.5px solid;
    border-color: #1D24CA;
}

.container .pattern {
    display: flex;
}

.container .frequency {
    display: flex;
    margin-left: 40px;
}

.container .frequency-text {
    margin-top: 25px;
}

.container .frequency-number {
    width: 30px;
}

.container .pattern1, .container .pattern2 {
    display: flex;
    flex-direction: column;
}

.container .pattern-location {
    display: flex;
}

.container .pattern1 {
    flex: 5;
}

.container .pattern2 {
    flex: 2;
}

.container .pattern3 {
    flex: 1;
}

.location-input {
    width: 100%;
    margin-right: 0;
}
